* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}
.flex {
  display: flex;
}
.flex-v {
  flex-direction: column;
  justify-content: center;
}
.flex-h {
  align-items: center;
  justify-content: space-between;
}
.grid {
  display: grid;
}
.grid-2-cols {
  grid-template-columns: 1.06fr 1fr;
  gap: 12.8rem;
}

.heading {
  font-family: "Raleway", sans-serif;
}
.bg {
  background: url(./images/bg-curvy-desktop.svg) no-repeat;
  background-size: 100%;
  background-position: 0rem 65rem;
}
.all {
  background-color: hsl(217, 28%, 15%);
}
.section-footer,
.section-cta,
.section-how,
.section-features,
.section-testamonials {
  background-color: hsl(218, 28%, 13%);
}
