@media (max-width: 375px) {
  body {
    overflow-x: hidden;
  }
  .bg {
    background: url(./images/bg-curvy-mobile.svg) no-repeat;
    background-size: 100%;
    background-position: 0rem 32rem;
  }
  .all {
    width: 100%;
    background-color: hsl(217, 28%, 15%);
  }
  .primary,
  .description,
  .btn {
    z-index: 1000;
  }
  .header {
    width: 100%;
    margin-bottom: 0;
    position: relative;
  }
  .header::before {
    content: "";
    width: 100%;
    height: 55%;
    background: hsl(218, 28%, 13%);
    position: absolute;
    top: 64%;
  }
  .logo-img {
    width: 9rem;
  }
  .nav {
    padding: 3.2rem 2.4rem;
  }
  .nav-list {
    gap: 2.4rem;
  }
  .nav-item {
    font-size: 1.1rem;
  }
  .intro-content {
    position: relative;
  }
  .intro-content,
  .description {
    padding: 1.2rem;
  }

  .intro-img {
    width: 35rem;
  }
  .primary {
    font-size: 2.6rem;
  }
  .description {
    font-size: 1.5rem;
  }
  .section-features {
    padding-bottom: 8rem;
  }
  .features {
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }
  .features-container {
    padding: 2.4rem;
  }
  .section-how {
    padding-bottom: 12.8rem;
  }
  .how-img {
    width: 30rem;
    height: 100%;
  }
  .how-container {
    padding: 0 3.2rem;
  }
  .how {
    display: flex;
    flex-direction: column;
  }
  .br {
    display: none;
  }
  .how-h {
    font-size: 1.9rem;
  }
  .how-text {
    font-size: 1.4rem;
    line-height: 1.8;
  }
  .how-btn::before {
    width: 50%;
  }

  .testamonial-container {
    padding: 0 2.4rem;
    padding-bottom: 12.8rem;
  }
  .testamonial {
    flex-direction: column;
  }
  .testamonial-card {
    padding: 2.4rem;
    border-radius: 0.2rem;
  }
  .testamonial-text {
    font-size: 1.2rem;
    font-weight: 400;
  }
  .section-cta {
    padding-bottom: 2.4rem;
  }
  .cta-container {
    padding: 0 2.4rem;
  }
  .cta-h {
    font-size: 2.4rem;
  }
  .cta {
    padding: 4.8rem 3.2rem;
    width: 100%;
  }
  .cta-text {
    font-size: 1.3rem;
    line-height: 1.8;
    font-weight: 400;
  }
  .cta-form {
    flex-direction: column;
    gap: 2.4rem;
  }
  #email,
  .btn-form {
    width: 25rem;
  }
  .cta-container::before {
    width: 100%;
    height: 60%;

    top: 50%;
    left: 0;
  }
  .section-footer {
    padding: 3.2rem;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 9.8rem;
  }
  .logo-footer {
    width: auto;
  }
  .left,
  .right {
    flex-direction: column;
    gap: 2.4rem;
  }
  .right {
    gap: 6.4rem;
  }
  .cellul {
    gap: 2.4rem;
  }
  .cellul p {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8;
  }
  .content p {
    font-size: 1.4rem;
  }
  .links a {
    font-size: 1.5rem;
  }
  .social {
    margin-top: 2.4rem;
    align-self: center;
  }
  .social-icon {
    width: 1.8rem;
    height: 1.8rem;
  }
}
